    <!-- About Section -->
    <section id="details" class="container content-section text-center detail-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Details</h2>
    <img src="/img/proposal-trim2.jpg" alt="hi" class="inline"/>
                <h3>Ceremony</h3>
                <div class="container">
                  <div class="row">
                    <div align="right" class="col-sm-6">5:00 PM</div>
                    <div align="left" class="col-sm-6">Ceremony</div>
                  </div>
                  <div class="row">
                    <div align="right" class="col-sm-6">6:00 PM</div>
                    <div align="left" class="col-sm-6">Cocktail hour</div>
                  </div>
            </div>
        </div>
    </section>
