    <!-- About Section -->
    <section id="details" class="container content-section text-center detail-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Details</h2>
                <h3>Ceremony</h3>
                <div class="container">
                  <div class="row">
                    <div align="right" class="col-sm-6">5:00 PM</div>
                    <div align="left" class="col-sm-6">Ceremony</div>
                  </div>
                  <div class="row">
                    <div align="right" class="col-sm-6">6:00 PM</div>
                    <div align="left" class="col-sm-6">Cocktail hour</div>
                  </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Location</h3>
                <p> Cambridge Multicultural Arts Center <br> 41 Second Street, Cambridge, MA 02141
                <img class="img-responsive limit center-block" id="map_img" src="/img/wedding_map_trim-01.png">
            </div>
        </div>
    </section>
