    <!-- Intro Header -->
    <header class="details-intro">
        <div class="details-intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="details-brand-heading">Ceremony & Reception</h1>
                        <a href="#schedule" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        <!-- <p class="details-intro-text">March 24, 2018<br>Cambridge, Massachusetts<br><br> -->
                    <!-- <a href="#" class="btn btn-default btn-lg">RSVP (Coming Soon!)</a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
